.blocks-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#blocks {
  width: 105vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  overflow: hidden;
}
.block {
  width: 50px;
  height: 50px;
  border: 0.5px solid var(--color-block-border);
  transition: border 0.3s ease;
}
.highlight {
  border: 0.5px solid var(--color-block-highlight);
}
@media (width < 768px) {
  .block {
    width: 40px;
    height: 40px;
  }
}
:root {
  --color-block-border: #501f5d1e;
  --color-block-highlight: #31144a;
  --color-block-highlight-hover: #910707;
}

.dark {
  --color-block-border: #ffffff13;
  --color-block-highlight: #868f0b;
  --color-block-highlight-hover: #cfdd11;
}

div:not(.block, #root, .blocks-container)  {
  z-index: 9;
}

header {
  z-index: 999;
}